<div class="page-header">
  <h1>Comments</h1>
</div>



<table class="table table-hover">
  <thead>
    <tr>

      <th>Content</th>

      <th>Article</th>

      <th>User</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>

        <td><%= comment.content %></td>

        <td><%= comment.article_id %></td>

        <td><%= comment.user_id %></td>


        <td>
          <a href="/comments/<%= comment.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

