<div class="page-header">
  <h1>Articles</h1>
</div>


<p><a href="/articles/new" class="btn btn-primary">Add a New Article</a></p>


<table class="table table-hover">
  <thead>
    <tr>

      <th>Title</th>

      <th>Article url</th>

      <th>Tag</th>

      <th>User</th>

      <th>Description</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>

        <td><%= article.title %></td>

        <td><%= article.article_url %></td>

        <td><%= article.tag %></td>

        <td><%= article.user_id %></td>

        <td><%= article.description %></td>


        <td>
          <a href="/articles/<%= article.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/articles/<%= article.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_article/<%= article.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

