<div class="page-header">
  <h1>Article #<%= @article.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>Title</dt>
  <dd><%= @article.title %></dd>


  <dt>Article url</dt>
  <dd><%= @article.article_url %></dd>


  <dt>Tag</dt>
  <dd><%= @article.tag %></dd>


  <dt>User</dt>
  <dd><%= @article.user_id %></dd>


  <dt>Description</dt>
  <dd><%= @article.description %></dd>


</dl>
